.git
.gitignore
README.md
test
# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

.ruby-version
charity_api.sql
.idea/**/*
config/database.yml